.avatar{
    width: 100px;
    height:100px;
    border-radius: 50px;
    background-color: rgb(50, 228, 15);
}

/* .profile{
    display: flex;
    align-items: center;
    justify-content: center;

} */

